* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.screen {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/* GAME BOARD SCREEN -------------------------------------------------------------------------------------*/
/* Image ---------------------- */
#characters {
    height: auto;
    width: 300px;
    margin-bottom: 10px;
}
/* Title -------------------- */
.title {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#rock-text { color: #FF52AB; }
#paper-text { color: #FBBC00; }
#scissors-text { color: #04CAE4; }

/* Buttons ------------------ */
.btn-choice {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 6px 16px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

#btn-rock { background-color: #FF52AB; }
#btn-paper { background-color: #FBBC00; }
#btn-scissors { background-color: #04CAE4;}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: 0;
}

/* Computer/Player Choices ------------------ */
#computer-choice, #player-choice {
    max-height: 90px;
    max-width: 60px;
    height: auto;
    width: 60px;
}

#game-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
